<section *ngIf="!hasData" class="no-data-section">
    <div class="shadow bg-white">
        <div class="inner-section">
            No weather records! Please load data in <a routerLink="/table">table tab.</a>
        </div>
    </div>
</section>

<section *ngIf="hasData" class="chart-section">
    <div class="shadow bg-white">
        <div class="inner-section">
            
            <div class="title">
                <div class="title-text">Line Chart</div>
                <div class="sub-text">Relationship between datetime and temperature</div>
            </div>

            <div class="chart-wrap">
                <canvas baseChart 
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
</section>