<div>
    <div *ngIf="!hasData">
        No weather records! Please load data in <a routerLink="/table">table tab.</a>
    </div>
    <div *ngIf="hasData" class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>

