table{
    width: 100%;
}

.table-small-text{
    font-size: 10px;
}

.form-section {
    max-width: 300px;
    margin: 20px 0;
}

.loading-section {
    max-width: 300px;
    margin-bottom: 20px;
}

.spinner-wrap {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.table-section {
    margin-bottom: 20px;
    overflow-x: scroll;
    max-width: 1600px;

    .table-wrap {
        overflow-x: scroll;
    }

    table {
        min-width: 1300px;
    }   
}

.weather-icon {
    display: block;
    width: 30px;
}