<section class="form-section">
    <div class="shadow bg-white">
        <div class="inner-section">
            <form [formGroup]="dateForm" (ngSubmit)="onSubmit()">
                <div class="title">
                    <div class="title-text">Select date</div>
                    <div class="sub-text">To load weather records for London</div>
                </div>

                <div class="form-row">
                    <mat-form-field>
                        <input matInput [matDatepicker]="myDate" [max]="maxDate" formControlName="date">
                        <mat-datepicker-toggle [for]="myDate" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #myDate></mat-datepicker>
                        <mat-error *ngIf="!dateForm.get('date').valid && dateForm.get('date').errors['required'] && dateForm.get('date').touched">Date is required.</mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button [disabled]="dateForm.invalid" color="primary" type="submit">{{ btnText }}</button>
            </form>
        </div>
    </div>
</section>

<section *ngIf="loading" class="loading-section">
    <div class="shadow bg-white">
        <div class="inner-section">
            <div class="spinner-wrap">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</section>

<section [ngClass]="{'dnone': !hasData}" class="table-section">
    <div class="shadow bg-white">
        <div class="inner-section">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="table-wrap">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{ element.no }} </td>
                </ng-container>
        
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datetime [GMT] </th>
                    <td mat-cell *matCellDef="let element"> {{ element.parsed_datetime }}</td>
                </ng-container>
        
                <ng-container matColumnDef="weather_state_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                    <td mat-cell *matCellDef="let element"> <img class="weather-icon" src="https://www.metaweather.com/static/img/weather/{{element.weather_state_abbr}}.svg" alt="icon" matTooltip="{{ element.weather_state_name }}"></td>
                </ng-container>
        
                <ng-container matColumnDef="the_temp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span matTooltip="Temperature [°C]">Temp. [°C]</span> </th>
                    <td mat-cell *matCellDef="let element"> <span matTooltip="Min: {{ element.min_temp | number:'1.0-2' }}, Max: {{ element.max_temp | number:'1.0-2' }}">{{ element.the_temp | number:'1.0-2'}}</span>  </td>
                </ng-container>
        
                <ng-container matColumnDef="air_pressure">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Air Pressure [mbar] </th>
                    <td mat-cell *matCellDef="let element"> {{ element.air_pressure | number }} </td>
                </ng-container>
        
                <ng-container matColumnDef="humidity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Humidity [%] </th>
                    <td mat-cell *matCellDef="let element"> {{ element.humidity }} </td>
                </ng-container>
        
                <ng-container matColumnDef="wind_speed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Wind Speed [mph] </th>
                    <td mat-cell *matCellDef="let element"> {{ element.wind_speed | number:'1.0-2' }} </td>
                </ng-container>
        
                <ng-container matColumnDef="visibility">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Visibility [mi] </th>
                    <td mat-cell *matCellDef="let element"> {{ element.visibility | number:'1.0-2' | na }} </td>
                </ng-container>
        
                <ng-container matColumnDef="predictability">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span matTooltip="Predictability [%]">Predict. [%]</span> </th>
                    <td mat-cell *matCellDef="let element"> {{ element.predictability }} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</section>