<p *ngIf="records.length === 0">loading</p>
<!-- <ul>
    <li *ngFor="let record of records">{{ record.weather_state_name }}</li>
</ul> -->

<div class="table-wrapper">
    <table *ngIf="records.length !== 0" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Datetime [GMT]</th>
                <th scope="col">Weather State</th>
                <th scope="col">Temperature [°C]</th>
                <th scope="col">Air Pressure [mbar]</th>
                <th scope="col">Humidity [%]</th>
                <th scope="col">Wind Speed [mph]</th>
                <th scope="col">Visibility [mi]</th>
                <th scope="col">Predict. [%]</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ record.created | date:'short':'GMT'}}</td>
                <td>{{ record.weather_state_name }}</td>
                <td>{{ record.the_temp | number:'1.0-2'}} <span class="table-small-text">[{{ record.min_temp | number:'1.0-2'}}, {{ record.max_temp | number:'1.0-2'}}]</span></td>
                <td>{{ record.air_pressure | number }}</td>
                <td>{{ record.humidity }}</td>
                <td>{{ record.wind_speed | number:'1.0-2'}} <span class="table-small-text">{{ record.wind_direction_compass }}</span></td>
                <td>{{ record.visibility | number:'1.0-2' | na}}</td>
                <td>{{ record.predictability }}</td>
            </tr>
        </tbody>
    </table>
</div>