<div>
    <form [formGroup]="calcForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput id="temp" type="number" step="0.01" placeholder="Temperature" formControlName="temp">
        </mat-form-field>[° {{ this.calcForm.value.unit | uppercase}} ]
        <br>
        <mat-radio-group formControlName="unit">
            <mat-radio-button *ngFor="let unit of units" [value]="unit">
                [°{{ unit | uppercase }}]
            </mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <mat-form-field>
            <input matInput type="number" step="0.01" placeholder="Relative Humidity" formControlName="rh">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="Submit">Compute</button>
    </form>
</div>