@import "../../variables.scss";

.form-section {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    @media only screen and (min-width: $sm) {
        width: 300px;
    }
}

.mat-radio-button:first-child {
    margin-right: 20px;
}

.result-section {
    margin-bottom: 20px;
    max-width: 300px;
    @media only screen and (min-width: $sm) {
        width: 300px;
    }
}

.gray {
    opacity: 0.6;
}

.res-p {
    padding-bottom: 5px;
}

p {
    margin: 0;
}

.history-section {
    margin-bottom: 20px;
    max-width: 300px;
    @media only screen and (min-width: $sm) {
        margin-top: 20px;
        margin-left: 20px;
        width: 300px;
    }
}

.no-data{
    text-align: center;
    padding: 20px 0;
}

.history-data {
    font-size: 14px;
    padding-bottom: 10px;
}

.wrap {
    @media only screen and (min-width: $sm) {
        display: flex;
    }
}