/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #E8E8E8; }
header { background-color: white; }

.content {
    padding: 0 20px;
}

.mat-form-field {
    width: 100%;
}

.form-row {
    padding-bottom: 25px;
}

.bg-white {
    background-color: white;
}

.shadow {
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.4);
}

.inner-section {
    padding: 20px;
}

.title {
    padding-bottom: 10px;
}

.title-text {
    padding-bottom: 6px;
}

.sub-text {
    font-size: 0.8rem;
    opacity: 0.6;
}

.dnone {
    display: none;
}